aniso8601==3.0.2
apsw==3.16.2.post1
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
bs4==0.0.1
chardet==3.0.4
CherryPy==8.9.1
Click==7.0
colorama==0.3.7
configobj==5.0.6
constantly==15.1.0
cycler==0.10.0
decorator==4.1.2
enum34==1.1.6
feedparser==5.2.1
Flask==0.12.3
Flask-GraphQL==2.0.0
funcsigs==1.0.2
graphene==2.1.3
graphene-mongo==0.2.0
graphql-core==2.1
graphql-relay==0.4.5
graphql-server-core==1.1.1
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
leveldb==0.1
libnacl==1.6.1
libtribler==7.2.2
M2Crypto==0.27.0
MarkupSafe==1.1.1
matplotlib==2.1.1
meliae==0.5.0.dev0
mongoengine==0.17.0
mongomock==3.14.0
netifaces==0.10.4
networkx==1.11
numpy==1.13.3
olefile==0.45.1
PAM==0.4.2
Pillow==9.0.1
pluggy==0.6.0
promise==2.2.1
psutil==5.4.2
py==1.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
pygobject==3.26.1
pymongo==3.7.2
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyserial==3.4
pytest==3.3.2
python-dateutil==2.6.1
python-libtorrent==1.1.5
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
repoze.lru==0.7
Routes==2.4.1
Rx==1.6.1
SecretStorage==2.3.1
sentinels==1.0.0
service-identity==16.0.0
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9.1
subprocess32==3.2.7
Twisted==17.9.0
typing==3.6.6
uTidylib==0.3
WebOb==1.7.3
Werkzeug==0.15.2
zope.interface==4.3.2
